.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  
  
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}
/* I am definetly having trouble on this one. I got the middle bar to disappear.
  However I am still having troubles with the top and bottom lines on the hamburger.
  Documenation confused me more on this one. Thank you Eric for helping me with the "translate()"*/
@keyframes top {
  from {transform: rotate(0deg); transform: translateY(0px);}
  to {transform: rotate(45deg) translateY(24px) translateX(24px);}
}
@keyframes middle {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes bottom {
  from {transform: rotate(0deg); transform: translateY(0px);}
  to {transform: rotate(-45deg) translateY(-24px) translateX(24px);}
}
