
/* I added some border-radius to soften the edges. Other than that this one was fun. */
button {
    background-color: ghostwhite;
    border-radius: 12px;
    box-shadow: cornflowerblue;
    transition: ease-out 2s;
    outline: none;
    font-size: 2em;
    
}

button:hover {
    background-color: cornflowerblue;
    color: white;
}


